[Desktop Entry]
Name=Gnome-Stones
Name[pt_BR]=Gnome-Stones
Name[da]=Gnome-sten
Name[de]=Gnome-Stones
Name[el]=Ğİôñåò-Gnome
Name[et]=Gnome koopad
Name[fi]=Gnome-luolat
Name[fr]=Gnome-Stones
Name[gl]=Gnome-Stones
Name[ja]=GNOME Stones
Name[lt]=Gnome-Stones
Name[no]=Gnome-steiner
Name[ru]=Gnome-ËÁÍÎÉ
Name[sk]=Gnome Kamene
Name[sv]=Gnome-stenar
Comment=Gnome Stones game
Comment[pt_BR]=Jogo Stones Gnome
Comment[da]=Spillet Gnome-sten
Comment[de]=Das Spiel Gnome-Stones
Comment[el]=Ôï ğáé÷íßäé Ğİôñåò ôïõ Gnome
Comment[es]=Juego Gnome Stones
Comment[et]=Boulderdashi kloon GNOME-le
Comment[fi]=Boulderdash-klooni
Comment[fr]=Jeu Gnome Stones
Comment[gl]=Xogo de Pedras de Gnome
Comment[ja]=GNOMEÈÇStone¥²¡¼¥à
Comment[lt]=Gnome Stones şaidimas
Comment[no]=Gnome-steiner spill
Comment[ru]=éÇÒÁ Gnome-ËÁÍÎÉ
Comment[sk]=Hra GNOME Kamene
Comment[sv]=Spelet Gnome-stenar
Exec=gnome-stones
Icon=gnome-stones.png
Terminal=0
Type=Application
