[Desktop Entry]
Name=New login
Name[cs]=Nové pøihlá¹ení
Name[da]=Ny indlogning
Name[es]=Login nuevo
Name[fr]=Nouvelle connexion
Name[gl]=Nova conexión
Name[ja]=¿·µ¬¥í¥°¥¤¥ó
Name[lv]=Jauna pieteikðanâs
Name[ms]=Login baru
Name[nl]=Nieuwe login
Name[nn]=Ny innlogging
Name[no]=Ny innlogging
Name[pl]=Nowy login
Name[pt]=Nova sessão
Name[pt_BR]=Novo login
Name[ro]=Login nou
Name[sk]=Nové prihlásenie
Name[sl]=Nova prijava
Name[sv]=Ny inloggning
Comment=Log in as another user without loging out
Comment[da]=Log ind som en anden bruger uden at logge ud
Comment[es]=Acceder como otro usuario sin salir
Comment[fr]=Se connecter en tant qu'autre utilisateur sans se déconnecter
Comment[ja]=¥í¥°¥¢¥¦¥È¤»¤º¤ËÊÌ¤Î¥æ¡¼¥¶¤Ç¥í¥°¥¤¥ó
Comment[lv]=Pieteikties kâ citam lietotâjam neizejot ârâ
Comment[ms]=Log in sebagai pengguna lain tanpa log out
Comment[nl]=Inloggen als een andere gebruiker zonder zelf uit te loggen
Comment[no]=Logg inn som en annen bruker uten å logge inn
Comment[pl]=Logowanie jako inny u¿ytkownik bez wylogowywania siê
Comment[pt]=Iniciar sessão como outro utilizador sem terminar a actual
Comment[pt_BR]=Efetuar login como outro usuário sem efetuar logout
Comment[sk]=Prihlásenie ako iný pou¾ívateµ bez odhlásenia
Comment[sl]=Prijavi se kot drug uporabnik brez, da bi se odjavil
Comment[sv]=Logga in som en annan användare utan att logga ut
Exec=gdmflexiserver
Icon=
Terminal=0
Type=Application
