[Desktop Entry]
Name=New login in a nested window
Name[cs]=Nové pøihlá¹ení v oknì
Name[da]=Ny indlogning i et "nested" vindue
Name[es]=Nuevo acceso en una ventana anidada
Name[fr]=Nouvelle connexion dans une fenêtre interne
Name[ja]=Æþ¤ì»Ò¥¦¥£¥ó¥É¥¦¤«¤é¤Î¿·µ¬¥í¥°¥¤¥ó
Name[lv]=Jauna ielogoðanâs ligzdveida logâ
Name[ms]=Login baru di dalam tetingkap berulang
Name[nl]=Inloggen in een venster
Name[no]=Ny innlogging i et "nested" vindu
Name[pl]=Nowy login w zagnie¿d¿onym oknie
Name[pt]=Nova sessão numa janela nested
Name[pt_BR]=Novo login numa janela aninhada
Name[ro]=Login nou în fereastrã imbricatã
Name[sk]=Nové prihlásenie vo vnorenom okne
Name[sl]=Nova prijava v gnezdenem oknu
Name[sv]=Ny inloggning i ett nästlat fönster
Comment=Log in as another user inside a nested window
Comment[da]=Log ind som en anden bruger i et nyt vindue
Comment[es]=Acceder como otro usuario dentro de una ventana anidada
Comment[ja]=Æþ¤ì»Ò¥¦¥£¥ó¥É¥¦¤ÎÃæ¤«¤éÊÌ¤Î¥æ¡¼¥¶¤È¤·¤Æ¥í¥°¥¤¥ó
Comment[lv]=Ielogoties kâ cits lietotâjs ligzdveida logâ
Comment[ms]=Log in sebagai pengguna lain di dalam tetingkap berulang
Comment[nl]=Inloggen als een andere gebruiker in een genest venster
Comment[no]=Logg inn som en annen bruker i et nytt vindu
Comment[pl]=Logowanie jako inny u¿ytkownik w zagnie¿d¿onym oknie
Comment[pt]=Iniciar sessão como outro utilizador dentro de uma janela nested
Comment[pt_BR]=Login como outro usuário dentro de uma janela aninhada
Comment[ro]=Login ca alt utilizator în fereastrã imbricatã
Comment[sk]=Prihlásenie ako iný pou¾ívateµ vo vnorenom okne
Comment[sl]=Prijavi se kot drug uporabnik znotraj gnezdenega okna
Comment[sv]=Logga in som en annan användare inuti ett nästlat fönster
# Given that we can set up the Xnest binary in the config file
# this is minorly evil
TryExec=Xnest
Exec=gdmflexiserver --xnest
Icon=
Terminal=0
Type=Application
