[Desktop Entry]
Name=Glade
Name[az]=Glade
Name[ca]=Glade
Name[da]=Glade
Name[de]=Glade
Name[el]=Glade
Name[es]=Glade
Name[fr]=Glade
Name[hu]=Glade
Name[it]=Glade
Name[ko]=Glade
Name[no]=Glade
Name[pl]=Glade
Name[pt_BR]=Glade
Name[ru]=Glade
Name[sk]=Glade
Name[sv]=Glade
Name[tr]=Glade
Name[uk]=Glade
Comment=GTK+ GUI builder
Exec=glade
Terminal=0
Type=Application
Icon=glade.png
