[Desktop Entry]
Name=Gnome xBill
Name[pt_BR]=Gnome xBill
Name[da]=Gnome xBill
Name[de]=GNOME xBill
Name[el]=Gnome Bill
Name[et]=Gnome Bill
Name[fi]=xBill
Name[fr]=xBill
Name[gl]=Gnome xBill
Name[ja]=GNOME X¥Ó¥ë
Name[lt]=Gnome xBill
Name[no]=Gnome xBill
Name[sk]=GNOME xBill
Name[sv]=Gnome xBill
Comment=Gnome version of the popular xBill game
Comment[pt_BR]=Versão Gnome do popular jogo xBill
Comment[da]=Gnome version af det populære xBill spil
Comment[de]=Die GNOME-Variante des populären xBill-Spiels
Comment[el]=Óþóôå ôïí ðëáíÞôç áðü ôïí Ìðéë
Comment[es]=Salve el planeta de Bill
Comment[et]=xBilli GNOME variant
Comment[fi]=GNOME-versio suositusta xBill-pelistä
Comment[fr]=Sauvez le monde de Bill
Comment[gl]=Versión de Gnome do popular xogo xBill
Comment[ja]=¤«¤ÎÍ­Ì¾¤ÊxBill¤ÎGNOMEÈÇ
Comment[lt]=Populiaraus xBill þaidimo Gnome versija
Comment[no]=Gnome versjon av det populære xBill spillet
Comment[sk]=Populárna hra xBill pre GNOME
Comment[sv]=Gnome-version av det populära xBill-spelet
Comment[wa]=Ni leyîz nén ki Bill mete si sistinme dvins les coputreces
Icon=xbill.png
Exec=gnome-xbill
Terminal=0
Type=Application
