[Desktop Entry]
Name=Simple Calculator
Name[ca]=Calculadora
Name[cs]=Kalkulaèka
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=ÕğïëïãéóôŞò ôóİğçò
Name[es]=Calculadora
Name[et]=Taskuarvuti
Name[fi]=Yksinkertainen laskin
Name[fr]=Calculatrice
Name[gl]=Calculadora
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ja]=´Ê°×ÅÅÂî
Name[ko]=°è»ê±â
Name[lt]=Skaièiuotuvas
Name[lv]=Vienkârğs Kalkulâtors
Name[nl]=Rekenmachine
Name[nn]=Enkel kalkulator
Name[no]=Kalkulator
Name[pl]=Prosty kalkulator
Name[pt]=Calculadora Simples
Name[pt_BR]=Calculadora Simples
Name[ru]=ëÁÌØËÕÌÑÔÏÒ
Name[sk]=Kalkulaèka
Name[sv]=Miniräknare
Name[tr]=Hesap makinası
Name[uk]=ëÁÌØËÕÌÑÔÏÒ
Name[wa]=Carculete
Comment=Simple Calculator
Comment[ca]=Calculadora
Comment[cs]=Kalkulaèka
Comment[da]=Lommeregner
Comment[de]=Taschenrechner
Comment[el]=ÕğïëïãéóôŞò ôóİğçò
Comment[es]=Calculadora
Comment[et]=Taskuarvuti
Comment[fi]=Yksinkertainen laskin
Comment[fr]=Calculatrice
Comment[gl]=Calculadora
Comment[hu]=Számológép
Comment[it]=Calcolatrice
Comment[ja]=´Ê°×ÅÅÂî
Comment[ko]=°è»ê±â
Comment[lt]=Skaièiuotuvas
Comment[lv]=Vienkârğs Kalkulâtors
Comment[nl]=Rekenmachine
Comment[nn]=Enkel kalkulator
Comment[no]=Kalkulator
Comment[pl]=Prosty kalkulator
Comment[pt]=Calculadora Simples
Comment[pt_BR]=Calculadora Simples
Comment[ru]=ëÁÌØËÕÌÑÔÏÒ
Comment[sk]=Kalkulaèka
Comment[sv]=Miniräknare
Comment[tr]=Hesap makinası
Comment[uk]=ëÁÌØËÕÌÑÔÏÒ
Comment[wa]=Carculete
Exec=gcalc
Icon=gnome-calc2.png
Terminal=0
Type=Application
