BODY {font-family:helvetica;font-size:12pt;color:#000;background-color:#eee}
P  {font-family:helvetica;font-size:12pt}
HR {color:#000}

H1 {font-size:18pt;font-style:normal;font-family:helvetica;font-weight:bold}
H2 {font-size:14pt;font-style:normal;font-family:helvetica;font-weight:bold}
TD {font-family:helvetica}
TH {font-family:helvetica}
DL {font-family:helvetica}

FONT.section {font-size:14pt;font-style:normal;font-family:helvetica;font-weight:normal}
FONT.title {font-size:18pt;font-style:normal;font-family:helvetica;font-weight:bold}
FONT.fdetail {font-size:14pt;font-style:normal;font-family:helvetica;font-weight:bold}

PRE {color:#000;font-family:courier;font-weight:normal}
FONT.class {color:#705;font-family:courier;font-weight:bold}
FONT.type {color:#705;font-family:courier;font-weight:normal}
FONT.func {color:#008;font-family:courier;font-weight:bold}
FONT.lfunc {color:#008;font-family:courier;font-weight:bold}
FONT.var {color:#008;font-family:courier;font-weight:normal}
FONT.macro {color:#070;font-family:courier;font-weight:bold}
FONT.enum {color:#070;font-family:courier;font-weight:normal}
FONT.key {color:#000;font-family:courier;font-weight:bold}
FONT.code {color:#000;font-family:courier;font-weigth:normal}
FONT.fixed {font-family:courier;font-weigth:normal}

TABLE.description {background-color:#fff;text-align:center}
TABLE.properties {background-color:#cec;text-align:center}
TABLE.members {background-color:#eed;text-align:center}
TABLE.details {background-color:#ffffff;text-align:center}
TABLE.detail1 {background-color:#efd8d8;text-align:center}
TABLE.detail2 {background-color:#d8d8ef;text-align:center}
TABLE.examples {background-color:#dddddd;text-align:center}

