[Desktop Entry]
Name=MDI
Name[ca]=Document múltiple
Name[da]=Multidokument
Name[et]=Multidokument
Name[eu]=MD5
Name[fr]=Multi-document
Name[gl]=Multi-Documento
Name[ko]=¿©·¯¹®¼­
Name[ru]=ïäé
Name[sl]=MDI (veèdokumetni vmesnik)
Name[tr]=Çoklu Belge Arayüzü
Name[uk]=íä¶
Exec=ui-properties --cap-id=2
Icon=gnome-mdi.png
Terminal=0
Type=Application
