[Desktop Entry]
Name=Archive Generator
Name[da]=Arkivgenerator
Name[fi]=Archive Generator
Name[lv]=Arhîvu Ìenerâtors
Name[nn]=Arkivgenerator
Name[no]=Arkivgenerator
Name[pl]=Generator archiwów
Name[pt]=Gerador de Arquivos
Name[pt_BR]=Compactador
Name[sk]=Generátor archívov
Name[sv]=Arkivskapare
Name[tr]=Arþiv Oluþturucu
Comment=GNOME Archive Generator aka Meat Grinder
Comment[da]=Genererer arkiver (med tilnavnet Kødmaskinen)
Comment[fi]=GNOME Archive Generator eli Meat Grinder
Comment[lv]=GNOME Arhîvu Ìenerâtors, pazîstams arî kâ Meat Grinder
Comment[nn]=GNOME arkivgenerator også kjent som Meat Grinder
Comment[no]=GNOME Arkivgenerator (Meat Grinder)
Comment[pt]=Gerador de Arquivos GNOME (Triturador de Carne)
Comment[pt_BR]=O compactador do GNOME conhecido por "moedor de carne"
Comment[sk]=Generátor archívov GNOME zvyný Meat Grinder
Comment[sv]=Arkivskapare för GNOME (Meat Grinder)
Comment[tr]=GNOME Arþiv Oluþturucu
Exec=meat-grinder
Terminal=0
Icon=nautilus/gnome-compressed.png
Type=Application
