[Desktop Entry]
Name=Address Book
Name[sl]=Adresar
Name[da]=Adressebog
Name[de]=Adressbuch
Name[el]=ÄéåõèõíóéïãñÜöïò
Name[es]=Directorio
Name[et]=Aadressid
Name[fi]=GNOME-kortit
Name[fr]=Carnet d'adresses
name[ga]=Leabhar Seoladh
Name[gl]=Libro de Enderezos
Name[it]=Indirizzario
Name[ja]=GNOME¥«¡¼¥É
Name[ko]=±×³ğÄ«µå
Name[lt]=Adresø knygelë
Name[no]=GnomeKort
Name[pl]=Ksi±¿ka adresowa
Name[pt_BR]=Livro de Endereços
Name[sk]=Adresár
Name[sv]=Adressbok
Name[tr]=Adres defteri
Comment=GNOME Personal Address Book
Comment[sl]=Osebni adresar GNOME
Comment[de]=Persönliches GNOME-Adressbuch
Comment[da]=GNOME personlig adressebog
Comment[el]=Ğñïóùğéêüò ÄéåõèõíóéïãñÜöïò GNOME
Comment[es]=Directorio Personal GNOME
Comment[et]=GNOME aadressraamat
Comment[fr]=Carnet d'adresses personnel GNOME
Comment[ga]=Leabhar Seoladh
Comment[gl]=Libro de Enderezos persoal de GNOME
Comment[it]=Gestione indirizzi di GNOME
Comment[ja]=½»½êÏ¿
Comment[ko]=ÁÖ¼Ò·Ï
Comment[lt]=GNOME asmeninë adresø knygelë
Comment[no]=Adressebok
Comment[pl]=Ksi±¿ka adresowa dla GNOME
Comment[pt_BR]=Livro de Endereços do GNOME
Comment[sk]=Osobnı adresár Gnome
Comment[sv]=GNOME personlig adressbok
Comment[tr]=GNOME adres defteri
Exec=gnomecard
Icon=gnome-gnomecard.png
Terminal=0
Type=Application
