[Desktop Entry]
Name=GNotes!
Name[da]=Noter
Name[el]=Óçìåéşìáôá GNOME!
Name[es]=GNotes
Name[et]=GMärkmed!
Name[fr]=GNotes !
Name[hu]=GNotesz
Name[ko]=¸Ş¸ğ
Name[pl]=GNotatki!
Name[pt]=GNotas!
Name[ro]=GNote!
Name[ru]=úÁĞÉÓËÉ!
Name[sk]=GPoznámky!
Name[sl]=GZapisi!
Comment=GNotes!
Comment[da]=Noter
Comment[el]=Óçìåéşìáôá GNOME!
Comment[es]=GNotes
Comment[et]=GMärkmed!
Comment[fr]=GNotes !
Comment[hu]=GNotesz
Comment[ko]=¸Ş¸ğ
Comment[pl]=GNotatki!
Comment[pt]=GNotas!
Comment[ro]=GNote!
Comment[ru]=úÁĞÉÓËÉ!
Comment[sk]=GPoznámky!
Comment[sl]=GZapisi!
Exec=gnotes_applet --activate-goad-server=gnotes_applet
Icon=gnome-gnotes.png
Terminal=0
Type=Application
