[Desktop Entry]
Name=CD Player
Name[az]=CD Ã‡alÄŸÄ±cÄ±
Name[ca]=Reproductor de CD
Name[cs]=CD Pøehrávaè
Name[da]=Cd-afspiller
Name[de]=CD-Spieler
Name[el]=ÁíáğáñáãùãŞ CD
Name[es]=Lector de CD
Name[et]=CD mängija
Name[eu]=CD irakurlea
Name[fi]=CD-soitin
Name[fr]=Lecteur CD
Name[gl]=Reproductor de CD
Name[hu]=CD-lejátszó
Name[it]=Lettore CD
Name[ja]=CD ¥×¥ì¡¼¥ä¡¼
Name[ko]=CD ¿¬ÁÖ±â
Name[lt]=CD grotuvas
Name[nl]=CD Speler
Name[nn]=CD-spelar
Name[no]=CD-spiller
Name[pl]=Odtwarzacz CD
Name[pt]=Leitor de CD
Name[pt_BR]=CD player
Name[ru]=ğÒÏÉÇÒÙ×ÁÔÅÌØ ËÏÍĞÁËÔ-ÄÉÓËÏ×
Name[sk]=Prehrávaè CD
Name[sl]=Vstavek CD predvajalnik
Name[sv]=CD-spelare
Name[tr]=CD Çalar
Name[uk]=ğÒÏÇÒÁ×ÁŞ CD
Name[wa]=Lijheu di CD
Name[zh_TW]=CD ¼½©ñ¾¹
Comment=CD Player
Comment[az]=CD Ã‡alÄŸÄ±cÄ±
Comment[ca]=Reproductor de CD
Comment[cs]=CD Pøehrávaè
Comment[da]=Cd-afspiller
Comment[de]=CD-Spieler
Comment[el]=ÁíáğáñáãùãŞ CD
Comment[es]=Lector de CD
Comment[et]=CD mängija
Comment[eu]=CD irakurlea
Comment[fi]=CD-soitin
Comment[fr]=Lecteur CD
Comment[gl]=Reproductor de CD
Comment[hu]=CD-lejátszó
Comment[it]=Lettore CD
Comment[ja]=CD ¥×¥ì¡¼¥ä¡¼
Comment[ko]=CD ¿¬ÁÖ±â
Comment[lt]=CD grotuvas
Comment[nl]=CD Speler
Comment[nn]=CD-spelar
Comment[no]=CD-spiller
Comment[pl]=Odtwarzacz CD
Comment[pt]=Leitor de CD
Comment[pt_BR]=CD player
Comment[ru]=ğÒÏÉÇÒÙ×ÁÔÅÌØ ËÏÍĞÁËÔ-ÄÉÓËÏ×
Comment[sk]=Prehrávaè CD
Comment[sl]=Vstavek CD predvajalnik
Comment[sv]=CD-spelare
Comment[tr]=CD Çalar
Comment[uk]=ğÒÏÇÒÁ×ÁŞ CD
Comment[wa]=Lijheu di CD
Comment[zh_TW]=CD ¼½©ñ¾¹
Exec=cdplayer_applet --activate-goad-server=cdplayer_applet
Icon=mc/i-cdrom.png
Terminal=0
Type=Application
