[Desktop Entry]
Name=WebControl
Name[ca]=Control Web
Name[cs]=Vlastnosti programu WebControl
Name[da]=Surferkontrol
Name[el]=¸ëåã÷ïò WWW
Name[es]=Control WEB
Name[et]=WWW brauseri juhtapplet
Name[eu]=AMARAUNzain
Name[fi]=Selainohjain
Name[gl]=Controlador Web
Name[hu]=WEB-indítópult
Name[it]=Telecomando Web
Name[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Name[ko]=À¥ Á¶Á¤
Name[lt]=Narðyklës valdiklis
Name[nl]=Web beheer
Name[nn]=Volumkontroll
Name[no]=Nettkontroll
Name[pt]=Controlo WEB
Name[pt_BR]=Controle Web
Name[sl]=Lastnosti Upravnika spleta
Name[sv]=Webbkontroll
Name[tr]=Web Yönetimi
Name[zh_CN.GB2312]=Mini-Commander ÊôÐÔ
Name[zh_TW]=¤p«¬ºô­¶±±¨î
Comment=WebControl
Comment[ca]=Control Web
Comment[cs]=Vlastnosti programu WebControl
Comment[da]=Surferkontrol
Comment[el]=¸ëåã÷ïò WWW
Comment[es]=Control WEB
Comment[et]=WWW brauseri juhtapplet
Comment[eu]=AMARAUNzain
Comment[fi]=Selainohjain
Comment[gl]=Controlador Web
Comment[hu]=WEB-indítópult
Comment[it]=Telecomando Web
Comment[ja]=¥¦¥§¥Ö¥³¥ó¥È¥í¡¼¥ë
Comment[ko]=À¥ Á¶Á¤
Comment[lt]=Narðyklës valdiklis
Comment[nl]=Web beheer
Comment[nn]=Volumkontroll
Comment[no]=Nettkontroll
Comment[pt]=Controlo WEB
Comment[pt_BR]=Controle Web
Comment[sl]=Lastnosti Upravnika spleta
Comment[sv]=Webbkontroll
Comment[tr]=Web Yönetimi
Comment[zh_CN.GB2312]=Mini-Commander ÊôÐÔ
Comment[zh_TW]=¤p«¬ºô­¶±±¨î
Exec=webcontrol_applet --activate-goad-server=webcontrol_applet
Icon=gnome-mnemonic.png
Terminal=0
Type=Application
