[Desktop Entry]
Type=Link
Name=Start Here
Name[az]=Burada BaÅŸla
Name[ca]=_Comenceu aquí
Name[cs]=Spustit
Name[da]=Start her
Name[de]=Hier starten
Name[el]=Åêêßíçóç
Name[es]=Empezar aquí
Name[fi]=Aloita tästä
Name[fr]=Démarrer
Name[ga]=Meid
Name[gl]=Iniciar
Name[hu]=Indítás
Name[it]=Avvia
Name[ja]=¤³¤³¤«¤é¥¹¥¿¡¼¥È
Name[ko]=½ÃÀÛ
Name[lt]=Paleisti
Name[lv]=Sâkt Ğeit
Name[nl]=Start
Name[nn]=Start
Name[no]=Start her
Name[pl]=Zacznij tutaj
Name[pt]=Começar Aqui
Name[pt_BR]=Comece aqui
Name[ro]=Start
Name[ru]=úÁĞÕÓË ÚÄÅÓØ
Name[sk]=Zaèa» tu
Name[sl]=Po¾eni
Name[sv]=Börja här
Name[ta]=¿¢¸ú¿¢¨Ä
Name[tr]=Başlat
Name[uk]=úÁĞÕÓÔÉÔÉ
Name[zh_CN]=Æô¶¯
Comment=Start Here
Comment[az]=Burada BaÅŸla
Comment[ca]=_Comenceu aquí
Comment[cs]=Spustit
Comment[da]=Start her
Comment[de]=Hier starten
Comment[el]=Åêêßíçóç
Comment[es]=Empezar aquí
Comment[fi]=Aloita tästä
Comment[fr]=Démarrer
Comment[ga]=Meid
Comment[gl]=Iniciar
Comment[hu]=Indítás
Comment[it]=Avvia
Comment[ja]=¤³¤³¤«¤é¥¹¥¿¡¼¥È
Comment[ko]=½ÃÀÛ
Comment[lt]=Paleisti
Comment[lv]=Sâkt Ğeit
Comment[nl]=Start
Comment[nn]=Start
Comment[no]=Start her
Comment[pl]=Zacznij tutaj
Comment[pt]=Começar Aqui
Comment[pt_BR]=Comece aqui
Comment[ro]=Start
Comment[ru]=úÁĞÕÓË ÚÄÅÓØ
Comment[sk]=Zaèa» tu
Comment[sl]=Po¾eni
Comment[sv]=Börja här
Comment[ta]=¿¢¸ú¿¢¨Ä
Comment[tr]=Başlat
Comment[uk]=úÁĞÕÓÔÉÔÉ
Comment[zh_CN]=Æô¶¯
URL=start-here:
Icon=gnome-starthere.png
X-Nautilus-Icon=gnome-starthere
Terminal=0
