[Desktop Entry]
Name=Gnometris
Name[pt_BR]=Gnometris
Name[da]=Gnometris
Name[de]=Gnometris
Name[el]=Gnometris
Name[es]=Gnometris
Name[et]=Gnometris
Name[fi]=Gnometris
Name[fr]=Gnometris
Name[gl]=Gnometris
Name[ja]=GNOME¥È¥ê¥¹
Name[lt]=Gnometris
Name[no]=Gnometris
Name[ru]=çÎÏÍÅÔÒÉÓ
Name[sk]=Gnometris
Name[sv]=Gnometris
Comment=Gnome Tetris Game
Comment[pt_BR]=Jogo Tetris Gnome
Comment[da]=Tetris spil til Gnome
Comment[de]=Gnome-Tetris-Spiel
Comment[el]=Ôï ğáé÷íßäé Ôİôñéò ôïõ Gnome
Comment[es]=El juego de Tetris de Gnome
Comment[et]=Tetris, sedapuhku GNOME-le
Comment[fi]=Gnome-tetrisklooni
Comment[fr]=Le jeu Tetris de Gnome
Comment[gl]=Xogo de Tetris de Gnome
Comment[ja]=GNOME¥Æ¥È¥ê¥¹
Comment[lt]=Gnome Tetris klonas
Comment[no]=Tetris spill for Gnome
Comment[ru]=ôÅÔÒÉÓ ÄÌÑ Gnome
Comment[sk]=Hra Tetris pre GNOME
Comment[sv]=Tetrisspel för Gnome
Icon=gnome-gtetris.png
Exec=gnometris
Terminal=0
Type=Application
