[Desktop Entry]
Name=GDict
Name[da]=GDict ordbog
Name[de]=GDict
Name[el]=Ëåîéêü
Name[fi]=GDict
Name[fr]=GDict
Name[gl]=GDict
Name[lt]=GDict
Name[lv]=GDict
Name[nn]=GDict
Name[no]=GDict
Name[pl]=GDict
Name[pt]=GDicionário
Name[pt_BR]=GDict
Name[ru]=GDict
Name[sk]=GDict
Name[sv]=GDict
Name[tr]=GDict
Name[uk]=GDict
Comment=GNOME client for RFC 2229-compliant dictionary server
Comment[da]=Klient til RFC 2229-ordbogsopslag
Comment[el]=ĞåëÜôçò ôïõ GNOME ãéá ôï ëåîéêü ôïõ MIT
Comment[fi]=GNOME-asiakas RFC 2229-yhteensopivalle sanakirjapalvelimelle
Comment[fr]=Client GNOME pour les serveurs de distionnaires compatible RFC-2229
Comment[gl]=Cliente de GNOME para o servidor de diccionario do MIT
Comment[lt]=Gnome klientas MIT şodynø serveriui
Comment[lv]=Gnome klients RFC 2229 savietojamam vârdnîcas serverim
Comment[nn]=GNOME klient for RFC2229 ordlistetenarar
Comment[no]=GNOME klient for ordboktjenere som følger RFC 2229 standarden
Comment[pl]=Klient GNOME do serwera s³ownika zgodnego z RFC 2229
Comment[pt]=Cliente GNOME para servidores de dicionário que respeitem o RFC 2229
Comment[pt_BR]=Cliente GNOME para um servidor de dicionário compatível com RFC 2229
Comment[sk]=GNOME klient pre slovníkovı server podµa RFC 2229
Comment[sv]=GNOME-klient för ordboksservrar som följer RFC 2229-standarden
Exec=gdict --activate-goad-server=gdict
Icon=gdict.png
Terminal=false
Type=Application
