[Desktop Entry]
Name=GDict
Name[da]=GDict ordbog
Name[de]=GDict
Name[el]=Ëåîéêü
Name[fi]=GDict
Name[fr]=GDict
Name[gl]=GDict
Name[lt]=GDict
Name[lv]=GDict
Name[nn]=GDict
Name[no]=GDict
Name[pl]=GDict
Name[pt]=GDicionário
Name[pt_BR]=GDict
Name[ru]=GDict
Name[sk]=GDict
Name[sv]=GDict
Name[tr]=GDict
Name[uk]=GDict
Comment=Gnome client for the MIT dictionary server
Comment[da]=Gnome klient for MIT ordbogs-tjener
Comment[de]=GNOME-Client für den MIT-Wörterbuchserver
Comment[el]=ĞåëÜôçò ôïõ GNOME ãéá ôï ëåîéêü ôïõ MIT
Comment[fi]=Gnomen asiakas MIT-sanakirjapalvelimelle
Comment[fr]=Client Gnome pour le serveur de dictionnaire du MIT
Comment[lt]=Gnome klientas MIT şodynø serveriui
Comment[lv]=Gnome klients MIT vârdnîcas serverim
Comment[nn]=Gnome klient for MIT ordlistetenear
Comment[no]=Gnome klient for MIT ordbok-tjener
Comment[pl]=Klient GNOME do serwera s³ownika MIT
Comment[pt]=Cliente Gnome para o servidor de dicionário do MIT
Comment[pt_BR]=Cliente Gnome para o servidor de dicionário do MIT
Comment[ru]=ëÌÉÅÎÔ Gnome ÄÌÑ ÓÌÏ×ÁÒÎÏÇÏ ÓÅÒ×ÅÒÁ MIT
Comment[sk]=Gnome klient pre slovníkovı server MIT
Comment[sv]=Gnomeklient för MIT:s ordboksserver
Comment[tr]=MIT sözlük sunucusu için Gnome istemcisi
Comment[uk]=ëÌ¦¤ÎÔ ÄÌÑ ÓÌÏ×ÎÉËÏ×ÏÇÏ ÓÅÒ×ÅÒÁ MIT
Exec=gdict -a
Terminal=0
Type=Application
Icon=gdict.png
