[Desktop Entry]
Name=Emacs
Name[lt]=XEmacs
Comment=Emacs text editor
Comment[az]=Emacs mÉ™tn editoru
Comment[bg]=Emacs òåêñòîâ ğåäàêòîğ
Comment[ca]=L'editor de text Emacs
Comment[cs]=Textovı editor Emacs
Comment[da]=Tekstredigeringsprogrammet Emacs
Comment[de]=Der Texteditor Emacs
Comment[el]=ÅğåîåñãáóôŞò êåéìİíïõ Emacs
Comment[es]=Editor de textos Emacs
Comment[et]=tekstiredaktor Emacs
Comment[eu]=Emacs testu editorea
Comment[fi]=Emacs-editori
Comment[fr]=Éditeur de texte Emacs
Comment[ga]=Eagarthóir Teacs Emacs
Comment[gl]=Editor de texto Emacs
Comment[hu]=Emacs szövegszerkesztõ
Comment[it]=Editor di testo Emacs
Comment[ja]=Emacs¥Æ¥­¥¹¥È¥¨¥Ç¥£¥¿
Comment[lt]=xemacs tekstø editorius
Comment[lv]=Emacs teksta redaktors
Comment[ms]=Editor teks Emacs
Comment[nl]=Emacs tekst editor
Comment[nn]=Emacs tekstredigeringsverkty
Comment[no]=Skriveprogrammet Emacs
Comment[pl]=Edytor tekstu Emacs
Comment[pt]=Editor de texto Emacs
Comment[pt_BR]=Editor de textos Emacs
Comment[ro]=Editorul de texte Emacs
Comment[ru]=ôÅËÓÔÏ×ÙÊ ÒÅÄÁËÔÏÒ Emacs
Comment[sk]=Textovı editor Emacs
Comment[sl]=Urejevalnik besedil Emacs
Comment[sp]=Emacs âÕÚáâ ÕÔØâŞà
Comment[sr]=Emacs tekst editor
Comment[sv]=Textredigeraren Emacs
Comment[tr]=Emacs metin düzenleyici
Comment[uk]=ôÅËÓÔÏ×ÉÊ ÒÅÄÁËÔÏÒ
Comment[wa]=L' aspougneu di tekse Emacs
Comment[zh_TW]=Emacs ¤å¦r½s½r¾¹
TryExec=emacs
Exec=emacs
Icon=gnome-emacs.png
Terminal=0
Type=Application
