[Desktop Entry]
Name=Eterm
Name[et]=Terminal Eterm
Name[ru]=Eterm терминал
Comment=Eterm
Comment[et]=Terminal Eterm
Comment[ru]=Eterm терминал
TryExec=Eterm
Exec=Eterm
Icon=gnome-eterm.png
Terminal=0
Type=Application
