[Desktop Entry]
Name=FileRunner
Name[bg]=Ôàéëîâ Ìåíèäæúğ
Name[ca]=Gestor de fitxers
Name[de]=FIleRunner
Name[et]=FailiKäivitaja
Name[ga]=Bainisteoir Chomad
Name[gl]=Xestor de Ficheiros
Name[nl]=Bestandsbeheer
Name[nn]=Filkøyrar
Name[pt]=Gestor de Ficheiros
Name[ru]=äÉÓĞÅÔŞÅÒ ÆÁÊÌÏ×
Name[sl]=ZaganjalecDatotek
Name[tr]=Dosya Çalıştırıcı
Name[uk]=íÅÎÅÄÖÅÒ ÆÁÊÌ¦×
Name[wa]=Manaedjeu di fitchîs
Name[zh_CN]=ÎÄ¼ş¼Ğ
Comment=directory utility
Comment[az]=cÉ™rgÉ™ vasitÉ™si
Comment[cs]=Program pro práci s adresáøi
Comment[da]=Værktøj til håndtering af mapper
Comment[de]=Verzeichnistool
Comment[el]=Åñãáëåßï äéá÷åßñçóçò êáôáëüãùí
Comment[es]=utilidades de directorio
Comment[et]=kataloogi utiliit
Comment[fi]=Hakemistotyökalu
Comment[fr]=Utilitaire de gestion de repertoire
Comment[hu]=Fájlkezelõ segédprogram
Comment[it]=utility per gestione directory
Comment[ja]=¥Ç¥£¥ì¥¯¥È¥ê¥æ¡¼¥Æ¥£¥ê¥Æ¥£
Comment[lt]=katalogø narğyklë
Comment[lv]=direktorija utilîts
Comment[ms]=Utiliti direktori
Comment[nl]=Hulpmiddel voor mappen
Comment[nn]=katalog verkty
Comment[no]=Verktøy for håndtering av mapper
Comment[pl]=Narzêdzie do pracy z katalogami
Comment[pt]=utilitários de directório
Comment[pt_BR]=utilitário de diretórios
Comment[ro]=Utilitar directoare
Comment[sk]=Nástroj pre prieèinky
Comment[sl]=pripomoèek pri imenikih
Comment[sp]=°ÛĞâØ ×Ğ ÔØàÕÚâŞàØøãÜÕ
Comment[sr]=Alati za direktorijume
Comment[sv]=Verktyg för hantering av mappar
Comment[tr]=dizin yardımcı programı
Comment[zh_TW]=ÀÉ®×³B²z¤½¥Îµ{¦¡
TryExec=fr
Exec=fr
Icon=/usr/local/pixmaps/icon/fcabinet-of.xpm
Terminal=false
MultipleArgs=false
Type=Application 
