[Desktop Entry]
Name=Lynx
Name[az]=LynX
Comment=Text based web browser
Comment[az]=MÉ™tn É™saslÄ± veb sÉ™yyahÄ±
Comment[bg]=Netscape Íàâèãàòîğ
Comment[ca]=Navegador d'Internet Netscape
Comment[cs]=Textovı webovı prohlí¾eè
Comment[da]=Tekstbaseret netsurfningsprogram
Comment[de]=Textbasierter Webbrowser
Comment[el]=ÖõëëïìåôñçôŞò Äéêôıïõ êáôÜóôáóçò ôåñìáôéêïı
Comment[es]=Navegador web basado en texto
Comment[et]=Tekstipõhine veebilehitseja
Comment[eu]=Teestuzko Nabigatzailea
Comment[fi]=Tekstipohjainen Internet-selain
Comment[fr]=Navigateur Web en mode texte
Comment[ga]=Líonléitheoir Netscape
Comment[gl]=Navegador Netscape
Comment[hu]=Szöveges webböngészõ
Comment[it]=Browser web testuale
Comment[ja]=¥Æ¥­¥¹¥È¥Ù¡¼¥¹¤Î Web ¥Ö¥é¥¦¥¶
Comment[lt]=Tekstinë web narğyklë
Comment[lv]=Teksta reşîma tîkla pârlûks
Comment[ms]=Pelayar web berasaskan teks
Comment[nl]=Tekst gebaseerde web browser
Comment[nn]=Tekstbasert nettlesar
Comment[no]=Tekstbasert nettleser
Comment[pl]=Tekstowa przegl±darka WWW
Comment[pt]=Navegador web em modo texto
Comment[pt_BR]=Navegador web baseado em texto
Comment[ro]=Browser web în mod text
Comment[ru]=Web ÎÁ×ÉÇÁÔÏÒ Netscape
Comment[sk]=Textovı prehliadaè WWW
Comment[sl]=Tekstovni spletni brskalnik
Comment[sp]=ÂÕÚáâãĞÛİØ web ßàÕâàĞÖØÒĞç
Comment[sr]=Tekstualni web pretra¾ivaè
Comment[sv]=Textbaserad webbläsare
Comment[tr]=Metin tabanlı bir web tarayıcı
Comment[uk]=îÁ×¦ÇÁÔÏÒ Netscape
Comment[wa]=Lynx est on betcheu waibe e môde tecsse
Comment[zh_TW]=¤å¦r¼Ò¦¡ºô­¶ÂsÄıµ{¦¡
TryExec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Exec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Icon=/usr/share/pixmaps/gnome-html.png
Terminal=false
MultipleArgs=false
Type=Application 
