[Desktop Entry]
Name=TkSETI
Comment=SETI@home monitor
Comment[cs]=Monitor SETI@home
Comment[da]=SETI@home-meter
Comment[de]=SETI@home Überwacher
Comment[el]=Ðáñáêïëïýèçóç SETI@home
Comment[es]=Monitor de SETI@home
Comment[fi]=SETI@home tarkkailuohjelma
Comment[fr]=Moniteur SETI@home
Comment[hu]=SETI@home-figyelõ
Comment[it]=Monitor per SETI@home
Comment[ja]=SETI@home ¥â¥Ë¥¿
Comment[lt]=SETI@home matuoklis
Comment[lv]=SETI@home novçrotâjs
Comment[ms]=Monitor SETI@home
Comment[no]=SETI@home-monitor
Comment[pl]=Monitor SETI@home
Comment[pt]=Monitor SETI@home
Comment[pt_BR]=Monitor SETI@home
Comment[ro]=Monitor SETI@home
Comment[sk]=Monitor pre program SETI@home
Comment[sl]=SETI@home nadzornik
Comment[sp]=SETI@home ÜÞÝØâÞà
Comment[sv]=SETI@home-övervakare
Comment[wa]=Programe po vey l' estat di vosse SETI@home
Comment[zh_TW]=SETI@home ºÊ±±µ{¦¡
TryExec=tkseti
Exec=tkseti
Icon=/usr/local/pixmaps/icon/earth.xpm
Terminal=false
MultipleArgs=false
Type=Application 
