[Desktop Entry]
Name=Color XTerm
Name[az]=RÉ™ngli Xterm
Name[bg]=Öâåòåí Xterm
Name[ca]=Xterm en color
Name[cs]=Barevnı XTerm
Name[da]=Farve-xterm
Name[de]=Farbiges XTerm
Name[el]=¸ã÷ñùìï XTerm
Name[en_GB]=Colour XTerm
Name[es]=XTerm a color
Name[et]=Värviline XTerm
Name[eu]=XTerm koloretan
Name[fi]=Värillinen XTerm
Name[fr]=XTerm Couleur
Name[ga]=Xterm daite
Name[gl]=Xterm a cores
Name[hu]=Színes X-terminál
Name[it]=XTerm a colori
Name[ja]=¥«¥é¡¼ xterm
Name[lt]=Spalvotas Xterm
Name[lv]=Krâsu Xterm
Name[ms]=Xterm warna
Name[nl]=Kleuren XTerm
Name[nn]=X-terminal i fargar
Name[no]=Farge X-terminal
Name[pl]=Kolorowy XTterm
Name[pt]=XTerm a Cores
Name[pt_BR]=XTerm a cores
Name[ro]=Terminal X color
Name[ru]=ã×ÅÔÎÏÊ XTerm
Name[sk]=Farebnı XTerm
Name[sl]=Bravni XTerm
Name[sp]=ºŞÛŞàİØ Xterm
Name[sr]=Kolorni Xterm
Name[sv]=XTerm, färg
Name[ta]=Åñ½ Xterm
Name[tr]=Renkli XTerm
Name[uk]=ëÏÌØÏÒÏ×ÉÊ XTerm
Name[wa]=Xterm e coleur
Name[zh_CN]=²ÊÉ« Xterm
Name[zh_TW]=±m¦â X ²×ºİ¾÷
Comment=Color XTerm
Comment[az]=RÉ™ngli Xterm
Comment[bg]=Öâåòåí Xterm
Comment[ca]=Xterm en color
Comment[cs]=Barevnı XTerm
Comment[da]=Farve-xterm
Comment[de]=Farbiges XTerm
Comment[el]=¸ã÷ñùìï XTerm
Comment[en_GB]=Colour XTerm
Comment[es]=XTerm a color
Comment[et]=Värviline XTerm
Comment[eu]=XTerm koloretan
Comment[fi]=Värillinen XTerm
Comment[fr]=XTerm Couleur
Comment[ga]=Xterm daite
Comment[gl]=Xterm a cores
Comment[hu]=Színes X-terminál
Comment[it]=XTerm a colori
Comment[ja]=¥«¥é¡¼ xterm
Comment[lt]=Spalvotas Xterm
Comment[lv]=Krâsu Xterm
Comment[ms]=Xterm warna
Comment[nl]=Kleuren XTerm
Comment[nn]=X-terminal i fargar
Comment[no]=Farge X-terminal
Comment[pl]=Kolorowy XTterm
Comment[pt]=XTerm a Cores
Comment[pt_BR]=XTerm a cores
Comment[ro]=Terminal X color
Comment[ru]=ã×ÅÔÎÏÊ XTerm
Comment[sk]=Farebnı XTerm
Comment[sl]=Bravni XTerm
Comment[sp]=ºŞÛŞàİØ Xterm
Comment[sr]=Kolorni Xterm
Comment[sv]=XTerm, färg
Comment[ta]=Åñ½ Xterm
Comment[tr]=Renkli XTerm
Comment[uk]=ëÏÌØÏÒÏ×ÉÊ XTerm
Comment[wa]=Xterm e coleur
Comment[zh_CN]=²ÊÉ« Xterm
Comment[zh_TW]=±m¦â X ²×ºİ¾÷
TryExec=nxterm
Exec=nxterm
Icon=gnome-color-xterm.png
Terminal=0
Type=Application
