[Desktop Entry]
Name=XEmacs
Name[bg]=Emacs
Name[ca]=Emacs
Name[ga]=Emacs
Name[gl]=Emacs
Name[ru]=Emacs
Name[uk]=Emacs
Comment=xemacs text editor
Comment[az]=xemacs mÉ™tn editoru
Comment[bg]=Emacs òåêñòîâ ğåäàêòîğ
Comment[ca]=L'editor de text Emacs
Comment[cs]=Textovı editor XEmacs
Comment[da]=XEmacs tekstbehandler
Comment[de]=XEmacs Texteditor  
Comment[el]=ÅğåîåñãáóôŞò êåéìİíïõ XEmacs
Comment[es]=Editor de textos xemacs
Comment[et]=tekstiredaktor xemacs
Comment[eu]=xemacs testu editorea
Comment[fi]=XEmacs-editori
Comment[fr]=Éditeur de texte XEmacs
Comment[ga]=Eagarthóir Teacs Emacs
Comment[gl]=Editor de texto Emacs
Comment[hu]=XEmacs szövegszerkesztõ
Comment[it]=Editor XEmacs
Comment[ja]=XEmacs ¥Æ¥­¥¹¥È¥¨¥Ç¥£¥¿
Comment[lt]=xemacs tekstø editorius
Comment[lv]=xemacs teksta redaktors
Comment[ms]=Editor teks xemacs
Comment[nl]=xemacs tekst editor
Comment[nn]=xemacs tekstredigeringsverkty
Comment[no]=Xemacs teksteditor
Comment[pl]=Edytor tekstowy xemacs
Comment[pt]=Editor de texto xemacs
Comment[pt_BR]=Editor de texto XEmacs
Comment[ro]=Editorul de texte Xemacs
Comment[ru]=ôÅËÓÔÏ×ÙÊ ÒÅÄÁËÔÏÒ Emacs
Comment[sk]=Textovı editor xemacs
Comment[sl]=Urejevalnik besedil xemacs
Comment[sp]=xemacs âÕÚáâ ÕÔØâŞà
Comment[sr]=xemacs tekst editor
Comment[sv]=Textredigeraren XEmacs
Comment[tr]=xemacs metin düzenleyici
Comment[uk]=ôÅËÓÔÏ×ÉÊ ÒÅÄÁËÔÏÒ
Comment[wa]=L' aspougneu di tecsse xemacs
Comment[zh_TW]=xemacs ¤å¦r½s¿è¾¹
Comment[hu]=Xemacs szövegszerkesztõ
TryExec=xemacs
Exec=xemacs
Icon=/usr/local/pixmaps/icon/editor.xpm
Terminal=false
MultipleArgs=false
Type=Application
