[Desktop Entry]
Name=XEphem
Name[nl]=Xephem
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
Comment=Ephemeris for X (Astronomy)
TryExec=xephem
Exec=xephem
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
