[Desktop Entry]
Name=SMix
Comment=Audio mixer
Comment[az]=Audio mikser
Comment[bg]=Ïğè àâòîìàòè÷íî ñêğèâàíå
Comment[ca]=Amagar automàticament
Comment[cs]=Zvukovı mixer
Comment[da]=Lyd-mixer
Comment[de]=Audio Mixer
Comment[el]=Ìßêôçò Ş÷ïõ
Comment[es]=Mezclador de audio
Comment[et]=Heli mikser
Comment[fi]=Mikseri
Comment[fr]=Mixer audio
Comment[gl]=Agochar automaticamente
Comment[hu]=Hangkeverõ
Comment[it]=Mixer Audio
Comment[ja]=¥ª¡¼¥Ç¥£¥ª¥ß¥­¥µ
Comment[lt]=Garso mikğeris
Comment[lv]=Audio mikseris
Comment[ms]=Mixer audio
Comment[nl]=Volumeregelaar
Comment[nn]=Lydmiksar
Comment[no]=Lyd-mikser
Comment[pl]=Mikser d¼wiêku
Comment[pt]=Mesa de Misturas de som
Comment[pt_BR]=Mixer de áudio
Comment[ro]=Mixer audio
Comment[ru]=á×ÔÏÓÏËÒÙÔÉÅ
Comment[sk]=Audio mixér
Comment[sl]=Audio me¹alka
Comment[sp]=°ãÔØŞ ÜØÚáÕà
Comment[sr]=Audio mikser
Comment[sv]=Ljudmixer
Comment[ta]=¾ıÉ¢Âì¸ Á¨È
Comment[tr]=Ses karıştırıcı
Comment[uk]=á×ÔÏĞÒÉÂÉÒÁÎÎÑ
Comment[wa]=Catche tot seu
Comment[zh_CN]=×Ô¶¯Òş²Ø
Comment[zh_TW]=²V­µ¾¹
TryExec=smix
Exec=smix
Icon=/usr/share/pixmaps/gnome-mixer.png
Terminal=false
MultipleArgs=false
Type=Application 
