[Desktop Entry]
Icon=gataxx.png
Name=gataxx
Name[pt_BR]=gataxx
Name[da]=gataxx
Name[de]=gataxx
Name[el]=gataxx
Name[et]=gataxx
Name[fi]=gataxx
Name[fr]=gataxx
Name[gl]=gataxx
Name[hu]=gataxx
Name[ja]=gataxx
Name[lt]=gataxx
Name[no]=gataxx
Name[sk]=gataxx
Name[sv]=gataxx
Comment=Gnome ataxx game
Comment[pt_BR]=Jogo attax Gnome
Comment[da]=Ataxx-spil til Gnome
Comment[de]=Ataxx-Spiel für Gnome
Comment[el]=Ôï ðáé÷íßäé ataxx ãéá ôï GNOME
Comment[et]=ataxx mäng GNOME-le
Comment[fi]=Gnome-ataxx-peli
Comment[fr]=Jeu ataxx Gnome
Comment[gl]=Xogo ataxx de Gnome
Comment[hu]=ataxx játék Gnome alá
Comment[ja]=GNOMEÈÇataxx¥²¡¼¥à
Comment[lt]=Gnome ataxx þaidimas
Comment[no]=Gnome ataxx spill
Comment[sk]=Hra ataxx pre GNOME
Comment[sv]=Ataxx-spel för Gnome
Exec=gataxx
Terminal=0
Type=Application
