[Desktop Entry]
Name=Personal cron manager
Name[ca]=Gestor personal de cron
Name[da]=Crontabredigering
Name[de]=Persönlicher Ereignismanager
Name[el]=Ğñïóùğéêüò äéá÷åéñéóôŞò cron
Name[es]=Manejador de cron personal
Name[et]=Cron haldur
Name[fi]=Henkilökohtainen cron-hallinta
Name[fr]=Éditeur personnel de cron
Name[gl]=Xestor persoal de cron
Name[hu]=Crontab-szerkesztõ
Name[ja]=¥æ¡¼¥¶ÍÑcron¥Ş¥Í¡¼¥¸¥ã
Name[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Name[lt]=Asmeninis cron vadybininkas
Name[lv]=Personâlais cron pârvaldnieks
Name[nl]=Persoonlijk Crontabbeheer
Name[nn]=Personleg cron-handsamar
Name[no]=Crontab editor
Name[pt]=Gestor pessoal do cron
Name[pt_BR]=Gerenciador do cron
Name[ru]=ìÉŞÎÙÊ ÄÉÓĞÅÔŞÅÒ cron
Name[sk]=Osobnı správca cronu
Name[sv]=Personlig cron-hanterare
Name[tr]=Crontab editörü
Comment=Personal crontab manager
Comment[ca]=Editor de la taula personal de cron
Comment[da]=Personlig crontabredigering
Comment[de]=Bearbeiten der persönlichen Ereignistabelle
Comment[el]=Ğñïóùğéêüò äéá÷åéñéóôŞò óõóôŞìáôïò äñïìïëüãçóçò åñãáóéşí (cron)
Comment[es]=Manejador de crontab personal
Comment[et]=Kasutaja crontab failide haldaja
Comment[fi]=Henkilökohtainen crontab-hallinta
Comment[fr]=Éditeur personnel de cron
Comment[gl]=Xestor persoal do crontab
Comment[hu]=Az egyéni crontab-ot szerkesztheted vele könnyen
Comment[ja]=Äê´ü¼Â¹Ô¥×¥í¥°¥é¥à¤Î³Æ¸Ä¿ÍÍÑÀßÄê¥Ä¡¼¥ë
Comment[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Comment[lt]=Asmeninio crontab'o vadybininkas
Comment[lv]=Personâlais crontab pârvaldnieks
Comment[nl]=Bewerken van de persoonlijke crontab
Comment[nn]=Personleg crontab-handsamar
Comment[no]=Personlig crontab editor
Comment[pt]=Gestor pessoal do crontab
Comment[pt_BR]=Gerenciador do crontab
Comment[ru]=ìÉŞÎÙÊ ÄÉÓĞÅÔŞÅÒ cron
Comment[sk]=Osobnı správca cronu
Comment[sv]=Personlig crontab-hanterare
Comment[tr]=Kişisel crontab yöneticisi
Exec=cromagnon
Icon=gnome-cromagnon.png
Terminal=0
Type=Application
