[Desktop Entry]
Name=Demon
Name[az]=Sehirbaz
Name[bg]=Äåìîí
Name[ca]=Dimoni
Name[da]=Dæmon
Name[de]=Dämon
Name[el]=Äåßãìá
Name[eu]=Eginda
Name[fi]=Demoni
Name[fr]=Démon
Name[ga]=Scríos
Name[nl]=Duivel
Name[ru]=äÅÍÏÎ
Name[sk]=Démon
Name[tr]=Şeytan
Name[uk]=äÅÍÏÎ
Name[wa]=Bas
Comment=A cellular automata that starts with a random field, and organizes it into stripes and spirals.
Comment[ca]=Un autòmat cel·lular que comença amb un camp aleatori i l'organitza en línies i espirals.
Comment[da]=En cellulær automat som begynder med et tilfældigt felt og organiserer det i striber og spiraler.
Comment[de]=Ein zellenförmiges Gebilde, das mit einem zufälligen Feld startet und dieses in Streifen und Spiralen umwandelt.
Comment[es]=Un autómata celular que comienza con un campo al azar, y lo organiza en\nespirales y tiras.
Comment[fi]=Soluautomaatti, joka aloittaa satunnaisesta ruudusta, ja järjestää sen viivoiksi ja spiraaleiksi.
Comment[fr]=Un automate cellulaire qui démarre avec un champs aléatoire et s'organise en bandes et spirales.
Comment[nl]=Een cellulaire automaat die begint met een willekeurig veld en dit ordent tot strepen en spiralen.
Comment[nn]=Ein cell-automata som startar med eit tilfeldig felt som vert organisert til striper og spiralar.
Comment[no]=En celle-automata som starter med et tilfeldig felt som organiseres til striper og spiraler.
Comment[pt]=Um automato celular que começa com um campo aleatório e organiza-o em fitas e espirais.
Comment[ru]=ëÌÅÔÏŞÎÙÊ Á×ÔÏÍÁÔ, ËÏÔÏÒÙÊ ÚÁĞÕÓËÁÅÔÓÑ × ÓÌÕŞÁÊÎÏÍ ĞÏÌÅ É ÏÒÇÁÎÉÚÕÅÔ ÅÇÏ × ĞÏÌÏÓÙ É ÓĞÉÒÁÌÉ.
Comment[sk]=Bunkovı automat, ktorı zaène s náhodnım poµom a zorganizuje ho do pruhov a ¹pirál
Comment[sl]=Celièni avtomat, ki zaène z nakljuènim poljem in ga organizira v pasove in spirale.
Comment[sv]=En cellulär automat som startar med ett slumpmässigt fält, och ordnar det till ränder och spiraler.
Comment[tr]=Rasgele alanlarla başlayan, şeritler ve spiraller içinde organize olan bir hücresel otomasyon.
Comment[uk]=ëÌ¦ÔÉÎÎÉÊ Á×ÔÏÍÁÔ, ÑËÉÊ ÚÁĞÕÓËÁ¤ÔØÓÑ Õ ×ÉĞÁÄËÏ×ÏÍÕ ĞÏÌ¦ ÔÁ ÏÒÇÁÎ¦ÚÏ×Õ¤ ÊÏÇÏ × ÓÍÕÇÉ ¦ ÓĞ¦ÒÁÌÉ.
Exec=xscreensaver-command -activate
TryExec=demon
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=demon
