[Desktop Entry]
Name=Moebius
Name[cs]=My¹
Name[el]=Ìåíïı
Name[et]=Hiir
Name[eu]=Menuak
Name[fi]=Möbius
Name[ga]=Claireanna
Name[gl]=Rato
Name[hr]=Gumbi mi¹a
Name[it]=Salve
Name[ja]=¥á¥Ó¥¦¥¹
Name[lt]=Pelë
Name[pl]=Mysz
Name[pt_BR]=Propriedades do Mouse
Name[ru]=í£ÂÉÕÓ
Name[sl]=Mobiusov trak
Name[sv]=Möbius
Name[tr]=Ermiş karıncalar
Name[uk]=íØÏÂ¦ÕÓ
Name[zh_CN.GB2312]=»¬Êó
Comment=M.C. Escher inspired ants.. in 3d
Comment[ca]=M. C. Escher ha inspirat les formigues en 3d
Comment[da]=M.C. Escher-inspirede myrer i tre dimensioner
Comment[de]=M.C. Escher inspirierte Ameisen.. in 3D
Comment[es]=Hormigas inspiradas de M.C. EScher... en 3 dimensiones
Comment[fi]=Escherin inspiroimia muurahaisia 3-ulotteisena
Comment[fr]=Fourmis inspirés de M.C. Escher... en 3D
Comment[nl]=Door M.C. Escher geïnspireerde mieren.. in 3d
Comment[nn]=M.C. Escher inspirerte maur.. i 3D
Comment[no]=M.C Escher inspirerte maur.. i 3D
Comment[pt]=Formigas inspiradas pelo M.C. Escher... Em 3d
Comment[ru]=íÕÒÁ×ØÉ ÎÁ×ÅÑÎÎÙÅ üÛÅÒÏÍ... × 3D
Comment[sk]=Mravce in¹pirované M.C. Escherom v 3D
Comment[sl]=Mravlje inspirirane po M.C. Escherju.. v 3d
Comment[sv]=Myror, inspirerade av M.C. Escher, i 3D
Comment[tr]=M.C. Escher ermiş karıncalar.. 3d
Comment[uk]=íÕÒÁÈÉ ÎÁ×¦ÑÎ¦ åÊÛÅÒÏÍ... Õ ÔÒÉ×ÉÍ¦ÒÎÏÍÕ ĞÒÏÓÔÏÒ¦
Comment[wa]=Des frumixhes inspireyes da M.C. Escher... è 3D
Exec=xscreensaver-command -activate
TryExec=moebius
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=moebius


