[Desktop Entry]
Name=Sproingies
Name[da]=Fjederhoppere
Name[el]=Παντογράφοι καμπυλών
Name[eu]=Scrolling
Name[fi]=Pomput
Name[nn]=Sproing (GL)
Name[sl]=Stopniθke
Name[sv]=Sproingisar
Name[wa]=Foyter
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Comment=Uhm.. *poing*
Exec=xscreensaver-command -activate
TryExec=sproingies
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=-window-id
RootCommand=-root
Demo=sproingies


