[Desktop Entry]
Name=Mixer
Name[az]=Mikser
Name[ca]=Mesclador
Name[cs]=Mixér
Name[da]=Mixerpult
Name[de]=Mischpult
Name[el]=Ìßêôçò
Name[es]=Mezclador de sonidos
Name[et]=Mikser
Name[eu]=Soinu nahaslea
Name[fi]=Mikseri
Name[gl]=Mesturador
Name[hu]=Hangerõszabályzó
Name[ja]=¥ß¥­¥µ¡¼
Name[ko]=º¼·ı
Name[lt]=Mikğeris
Name[nn]=Miksar
Name[no]=Mikser
Name[pl]=Mikser
Name[pt]=Misturas de Som
Name[ru]=íÉËÛÅÒ
Name[sk]=Mixér
Name[tr]=Karıştırıcı
Name[uk]=í¦ËÛÅÒ
Name[wa]=Maxheu di sons
Name[zh_TW]=­µ¶q½Õ¾ãµ{¦¡
Comment=Audio Mixer
Comment[az]=SÉ™s Mikseri
Comment[ca]=Applet mesclador d'àudio
Comment[cs]=Zvukovı mixér
Comment[da]=Kontrollerer lydmixeren
Comment[de]=GNOME-Mischpult
Comment[el]=Ìßêôçò ¹÷ïõ
Comment[es]=Mezclador de sonidos
Comment[et]=Audiomikser
Comment[eu]=Soinu nahaslea
Comment[fi]=Äänimikseri
Comment[fr]=Mixer audio
Comment[ga]=Rith gmix...
Comment[gl]=Mesturador de audio
Comment[hu]=Keverõpult egy potméterrel
Comment[it]=Applet di controllo del mixer
Comment[ja]=¥ª¡¼¥Ç¥£¥ª¥ß¥­¥µ¡¼
Comment[ko]=¿Àµğ¿À º¼·ıÁ¶Á¤±â
Comment[lt]=Garsumo keitimo priedas
Comment[nn]=Lydmiksar
Comment[no]=Lydmikser
Comment[pl]=Mikser d¼wiêku
Comment[pt]=Misturas de Som
Comment[pt_BR]=Mixer de áudio
Comment[ro]=Mixer audio
Comment[ru]=áÕÄÉÏ-ÍÉËÛÅÒ
Comment[sk]=Zvukovı mixér
Comment[sl]=Po¾eni Avdio Me¹alko
Comment[sv]=Ljudmixer
Comment[tr]=Ses Karıştırıcı
Comment[uk]=áÕÄ¦ÏÍ¦ËÛÅÒ
Comment[wa]=Aplikete po maxhî les sons ki vnèt di diferints éndjins
Comment[zh_TW]=­µ¶q½Õ¾ãµ{¦¡
Exec=mixer_applet --activate-goad-server=mixer_applet
Icon=gnome-mixer.png
Terminal=0
Type=Application
