[Desktop Entry]
Name=IDE Device Tool
Name[da]=IDE-enhedsværktøj
Name[el]=Åñãáëåßï Óõóêåõşí IDE
Name[fi]=IDE-työkalu
Name[fr]=Outil périphérique IDE
Name[lt]=IDE diskø árankis
Name[lv]=IDE Iekârtas Rîks
Name[nn]=Verkty for IDE-einingar
Name[no]=IDE verktøy
Name[pl]=Narzêdzie dla urz±dzeñ IDE
Name[pt]=Ferramenta de Dispositivos IDE
Name[pt_BR]=Ferramenta para Dispositivos IDE
Name[sk]=Nástroj pre IDE zariadenia
Name[sv]=IDE-enhetsverktyg
Name[tr]=IDE Aygıt Aracı
Comment=Show and Configure IDE Device Settings
Comment[da]=Viser og konfigurerer IDE-enhedsindstillinger
Comment[el]=Åìöáíßæåé êáé åğéôñİğåé ôç ñıèìéóç óõóêåõşí IDE
Comment[fi]=Näyttää ja määrittelee IDE-laitteiden asetuksia
Comment[fr]=Affiche et configure les paramètres de périphériques IDE
Comment[lt]=Rodyti ir tvarkyti IDE diskø nuostatas
Comment[lv]=Parâdît un Konfigurçt IDE Iekârtas Uzstâdîjumu
Comment[nn]=Vis og konfigurer IDE-einingar
Comment[no]=Vis og konfigurér innstillinger for IDE-enheter
Comment[pl]=Wy¶wietla i konfiguruje ustawienia urz±dzeñ IDE
Comment[pt]=Ver e Configurar Parâmetros de Dispositivos IDE
Comment[pt_BR]=Mostra e Configura Ajustes em Dispositivos IDE
Comment[sk]=Zobrazuje a nastavuje IDE zariadenia
Comment[sv]=Visa och konfiguera IDE-enhetsinställningar
Comment[tr]=IDE Aygıt Ayarlarını Gösterir ve Yapılandırır
Exec=idetool
Icon=
Terminal=0
Type=Application
