[Desktop Entry]
Name=Nautilus
Name[el]=Íáõôßëïò
Name[ko]=³ëÆ¿·¯½º
Name[lt]=Nautilus 
Name[nn]=Mauritius
Name[ru]=îÁÕÔÉÌÕÓ
Name[ta]=¿¡ÊÄŠ
Name[uk]=îÁÕÔ¦ÌÕÓ
Comment=Nautilus File Manager and Graphic Shell
Comment[az]=Nautilus Fayl Ä°darÉ™cisi vÉ™ Qrafiki QabÄ±q
Comment[ca]=Gestor de fitxers Nautilus i intèrpret gràfic
Comment[cs]=Správce souborù a grafickı shell Nautilus
Comment[da]=Nautilus filhåndtering og grafisk skal
Comment[de]=Nautilus: Dateimanager und grafische Shell
Comment[el]=Ï Äéá÷åéñéóôŞò Áñ÷åßùí êáé Ãñáöéêüò Öëïéüò Íáõôßëïò
Comment[es]=Administrador de archivos y Shell Gráfico Nautilus
Comment[fi]=Nautilus-tiedostonhallinta ja graafinen komentotulkki
Comment[fr]=Gestionnaire de fichier Nautilus et shell graphique
Comment[gl]=Xestor de ficheiros e shell gráfica Nautilus
Comment[hu]=Nautilus fájlkezelõ és grafikus shell
Comment[it]=File manager e shell grafica Nautilus
Comment[ja]=Nautilus ¥Õ¥¡¥¤¥ë¥Ş¥Í¡¼¥¸¥ã¤È¥°¥é¥Õ¥£¥«¥ë¥·¥§¥ë
Comment[ko]=³ëÆ¿·¯½º ÆÄÀÏ°ü¸®ÀÚ ¹× ±×·¡ÇÈ ½©
Comment[lt]=Nautilus bylø tvarkytojas ir grafinë aplinka
Comment[lv]=Nautilus Datòu Pârvaldnieks un Grafiskâ Èaula
Comment[nl]=Nautilus Bestandsbeheer en Grafische Schil
Comment[no]=Nautilus filhåndterer og grafisk skall
Comment[pl]=Mened¿er plików i pow³oka graficzna Nautilus
Comment[pt]=Nautilus - Consola Gráfica e Gestor de Ficheiros
Comment[pt_BR]=Gerenciador de arquivos e ambiente gráfico Nautilus
Comment[ro]=Managerul fiºiere ºi shell grafic Nautilus
Comment[ru]=çÒÁÆÉŞÅÓËÁÑ ÏÂÏÌÏŞËÁ É ÄÉÓĞÅÔŞÅÒ ÆÁÊÌÏ× Nautilus
Comment[sk]=Správca súborov a grafickı shell Nautilus
Comment[sl]=Upravljalnik datotek in grafièna lupina Nautilus
Comment[sv]=Filhanteraren och det grafiska skalet Nautilus
Comment[tr]=Nautilus Dosya Yöneticisi Grafiksel Kabuğu
Comment[uk]=æÁÊÌÏ×ÉÊ ÍÅÎÅÄÖÅÒ ¦ ÇÒÁÆ¦ŞÎÁ ÏÂÏÌÏÎËÁ îÁÕÔ¦ÌÕÓÁ
TryExec=run-nautilus
Exec=run-nautilus
Icon=nautilus-launch-icon.png
Terminal=0
Type=Application
