[Desktop Entry]
Name=GNOME Character Map
Name[da]=Tegnoversigt
Name[de]=Zeichentabelle
Name[el]=Ğßíáêáò ×áñáêôŞñùí ôïõ GNOME
Name[fi]=GNOME Merkistö
Name[fr]=Mappage caractères GNOME
Name[lt]=Gnome simboliø rinkinys
Name[lv]=GNOME Rakstzîmju Karte
Name[nl]=GNOME Speciale Tekens
Name[nn]=GNOME teiknkart
Name[no]=Tegnkart
Name[pl]=Mapa znaków dla GNOME
Name[pt]=Mapa de Caracteres GNOME
Name[pt_BR]=Mapa de Caracteres do GNOME
Name[sk]=Mapa znakov GNOME
Name[sv]=Teckenkarta för Gnome
Name[tr]=Gnome Karakter Haritası
Comment=GNOME Character Map
Comment[da]=Tegnoversigt
Comment[de]=Zeichentabelle
Comment[el]=Ğßíáêáò ×áñáêôŞñùí ôïõ GNOME
Comment[fi]=GNOME Merkistö
Comment[fr]=Mappage caractères GNOME
Comment[lt]=Gnome simboliø rinkinys
Comment[lv]=GNOME Rakstzîmju Karte
Comment[nl]=GNOME Speciale Tekens
Comment[nn]=GNOME teiknkart
Comment[no]=Tegnkart
Comment[pl]=Mapa znaków dla GNOME
Comment[pt]=Mapa de Caracteres GNOME
Comment[pt_BR]=Mapa de Caracteres do GNOME
Comment[sk]=Mapa znakov GNOME
Comment[sv]=Teckenkarta för Gnome
Comment[tr]=Gnome Karakter Haritası
Exec=gcharmap
Icon=gcharmap-map-big.xpm
Terminal=0
Type=Application
