[Desktop Entry]
Name=Enlightenment
Name[ca]=Il∑lustraciÛ
Name[ko]=¿Œ∂Û¿Ã∆∞∏’∆Æ
Name[sl]=Enlightment
NAme[tr]=Enlightenment
Exec=enlightenment
TryExec=enlightenment

[Window Manager]
ConfigExec=e-conf
ConfigTryExec=e-conf
SessionManaged=true
