[Desktop Entry]
Name=Ice WM
Name[da]=IceWM
Name[gl]=IceWM
Name[pl]=Mened¿er okien Ice (IceWM)
Exec=icewm
TryExec=icewm

[Window Manager]
SessionManaged=true
