[Desktop Entry]
Name=Window Maker
Name[ca]=Creador de finestres
Name[cs]=Správce oken
Name[da]=WindowMaker
Name[el]=Äéüñèùóç Äéá÷. Ğáñáèıñùí
Name[et]=Aknahaldur
Name[eu]=Lehioa
Name[gl]=WindowMaker
Name[it]=Modifica proprietà window manager
Name[ko]=À©µµ¿ì ¸ŞÀÌÄ¿
Name[lt]=Langø tvarkyklë
Name[pt_BR]=Gerenciador de Janelas
Name[sl]=Window maker
Name[zh_CN.GB2312]=ÊÓ´°¹ÜÀí³ÌÊ½
Exec=wmaker
TryExec=wmaker

[Window Manager]
SessionManaged=false
ConfigExec=/usr/X11R6/lib/GNUstep/Apps/WPrefs.app/WPrefs
