[Desktop Entry]
Name=gTuring
Name[pt_BR]=gTuring
Name[da]=gTuring
Name[de]=gTuring
Name[el]=gTuring
Name[et]=gTuring
Name[fi]=gTuring
Name[fr]=gTuring
Name[gl]=gTuring
Name[ja]=G¥Á¥å¡¼¥ê¥ó¥°
Name[lt]=gTuring
Name[no]=gTuring
Name[sk]=gTuring
Name[sv]=gTuring
Comment=Waste time with a simulated Turing machine
Comment[pt_BR]=Passatempo com a simulação de uma máquina Turing. 
Comment[da]=Spild tiden med en simuleret Turing-maskine
Comment[de]=Nette Zeitverschwendung mittels einer simulierten Turingmaschine
Comment[el]=Ğñïóïìïßùóç ìç÷áíŞò ôïõ Ôïıñéíãê
Comment[et]=Turingi masinate ehitaja
Comment[fi]=GNOME-versio Turingin koneesta
Comment[fr]=Perdez votre temps avec ce simulateur de machine de Turing
Comment[gl]=Gaste tempo cunha máquina de Turing simulada
Comment[ja]=¥Á¥å¡¼¥ê¥ó¥°¥Ş¥·¥ó¥·¥ß¥å¥ì¡¼¥¿¤Ç²ËÄÙ¤·¡£
Comment[lt]=Eikvok laikà su simuliuojama Turing mağina
Comment[no]=Kast bort tiden med en simulert Turing maskin
Comment[sk]=Strata èasu so simulovanım Turingovım strojom
Comment[sv]=Kasta bort tiden med en simulerad Turingmaskin
Exec=gturing
Icon=gnome-gturing.png
Terminal=0
Type=Application
