[Desktop Entry]
Name=Bug Report Tool
Name[az]=XÉ™ta BildirmÉ™ VasitÉ™si
Name[ca]=Eina d'informe d'errors
Name[da]=Fejlrapporteringsværktøj
Name[de]=Fehlermelder
Name[el]=Åñãáëåßï ÁíáöïñÜò ÓöáëìÜôùí
Name[es]=Herramienta de informe de errores
Name[fi]=bug-buddy
Name[fr]=Bug Buddy
Name[gl]=bug-buddy
Name[hu]=Hibabejelentõ eszköz
Name[it]=bug-buddy
Name[ja]=ÉÔ¶ñ¹çÊó¹ğ¥Ä¡¼¥ë
Name[lt]=bug-buddy
Name[no]=Bug Buddy
Name[pl]=Narzêdzie do zg³aszania b³êdów
Name[pt_BR]=Ferramenta de Relatório de Erros
Name[sk]=Nástroj pre oznamovanie chıb
Name[sl]=Orodje za poroèanje o hro¹èih
Name[sv]=Felrapporteringsverktyg
Name[tr]=Hata rapolayıcısı
Name[wa]=Usteye di rapoirt di bugs
Name[zh_TW.Big5]=¿ù»~³ø§i¤u¨ã
Comment=Report a bug in GNOME
Comment[az]=GNOME xÉ™tasÄ±nÄ± bildir
Comment[ca]=Informeu d'un error al GNOME
Comment[da]=Rapportér en fejl i Gnome
Comment[de]=Einen Fehler bei GNOME melden
Comment[el]=ÁíáöïñÜ óöáëìÜôùí ôïõ GNOME
Comment[es]=Informe de un error en GNOME
Comment[fi]=Gnome:n graafinen ohjelmavirheiden raportointityökalu
Comment[fr]=Crée un rapport d'anomalies pour GNOME
Comment[gl]=Informe dun erro de GNOME
Comment[hu]=A GNOME grafikus hibabejelentõ eszköze
Comment[it]=Invia notifica di errore
Comment[ja]=GNOME¤ÎÉÔ¶ñ¹çÊó¹ğ¥Ä¡¼¥ë
Comment[lt]=Klaidø praneğimo árankis
Comment[no]=Rapportering av feil i GNOME
Comment[pl]=Narzêdzie do zg³aszania b³êdów w GNOME
Comment[pt_BR]=Informar erro no GNOME
Comment[sk]=Nástroj GNOME pre oznamovanie chıb
Comment[sl]=Poroèaj o hro¹èu v GNOME
Comment[sv]=Rapportera ett fel i GNOME
Comment[tr]=GNOME'da hata bulunca bu uygulamayla rapolayabilirsin
Comment[wa]=Fé on rapoirt di bug po GNOME
Comment[zh_TW.Big5]=¦b GNOME ¤º³ø§i¿ù»~
Exec=bug-buddy
Icon=bug-buddy.png
Terminal=0
Type=Application
