[Desktop Entry]
Name=Mahjongg
Name[pt_BR]=Mahjongg
Name[da]=Mahjongg
Name[de]=Mahjongg
Name[el]=Mahjongg
Name[es]=Mahjongg
Name[et]=Mahjongg
Name[fi]=Mahjongg
Name[fr]=Mahjongg
Name[gl]=Mahjongg
Name[hu]=Mahjongg
Name[ja]=¾å³¤
Name[ko]=¸¶ÀÛ
Name[lt]=Mahjongg
Name[no]=Mahjongg
Name[pt]=Mahjongg
Name[ru]=íÁÄÖÏÎÇ
Name[sk]=Mahjongg
Name[sv]=Mah Jong
Comment=Gnome Mahjongg program
Comment[da]=Spillet Mahjongg
Comment[de]=Gnome Mahjongg
Comment[el]=Ôï ğáé÷íßäé Mahjongg ôïõ Gnome
Comment[es]=Juego de Mahjongg
Comment[et]=Mahjongg GNOME jaoks
Comment[fi]=Mahjongg-peli
Comment[fr]=Jeu de Mahjongg GNOME
Comment[gl]=Xogo Mahjongg de Gnome
Comment[hu]=Mahjongg program Gnome alá
Comment[ja]=GNOMEÈÇ¾å³¤
Comment[ko]=Gnome ¸¶ÀÛ
Comment[lt]=Gnome Mahjongg şaidimas
Comment[no]=Spillet Mahjongg
Comment[pt]=Jogo de Mahjonng Gnome
Comment[pt_BR]=Programa Mahjongg Gnome
Comment[ru]=éÇÒÁ íÁÄÖÏÎÇ ÄÌÑ Gnome
Comment[sk]=Hra Mahjongg pre GNOME
Comment[sv]=Mah Jong för Gnome
Exec=mahjongg
Icon=gnome-mahjongg.png
Info=Gnome Mahjongg program
Terminal=0
Type=Application
